{% ckan_extends %}
{#
Adds a link from the login form to the single sign-on provider.
#}

{% block form %}
    {% block sso_form %}
    <p><a href="{{ h.url_for('user.login') }}/oidc-pkce" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in via single sign-on</a></p>
    {% endblock %}
    {{ super() }}
{% endblock %}

{% block help_register_button %}
    {{ super() }}
    {% block sso_help_register %}
    <a href="{{ h.url_for('user.login') }}/oidc-pkce" class="btn btn-secondary">Register via single sign-on</a>
    {% endblock %}
{% endblock %}
